language: python
python:
  - "2.7"
  - "3.6"
matrix:
  include:
    - python: "2.7"
      env: TOX_ENV=py27
    - python: "3.6"
      env: TOX_ENV=py36
  exclude:
    - python: "2.7"
    - python: "3.6"
before_install:
  - pip install --upgrade pytest
  - pip install six
install:
    - pip install -r requirements.txt
    - pip install tox
    - pip install coveralls
script:
    - tox -e $TOX_ENV
after_success:
    - coveralls
