config:
    connection:
        host: icinga.dmz
        port: 3306
        user: progga
        password: progga
        database: progga
    database_hosts:
        table: hosts
        ip_field: inIP
        hostname_field: name
    database_domains:
        domain_table: aliases
        url_field: url
        hostname_field: host
        tag_field: dns_servers
    dnspath: /var/named/chroot/etc/m/
    zone_cache_dir: /var/named/chroot/tmp/cache
    common_tag: any
    zones:
        kodeks.ru:
            - internal
            - sites
        dmz:
            - internal
